/* algemeen */
@font-face {
  font-family: 'Reitam Regular';
  src: url('Reitam Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
 }

body{
	font-family: Reitam Regular;
	margin: 0;
    background: #F2F2F2;
    background-repeat: no-repeat;
    padding: 0;
}

/* navigatie en logo */
header{
	text-align: center;
	padding-bottom: 0px;
	width: 100%;
	margin: 0;
	height: 85px;
}
nav ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
}

a{
	color: black;
	text-decoration: none;
}

nav ul li{
	display: inline-block;
	color: black;
	margin: 0 0 10px 0;
	padding: 8px 15px 8px 15px;
}

nav ul li.home{
	border-bottom: 2px solid;
}

nav ul li.contact{
	border-bottom: 2px solid;
}

nav ul li.gallerij{
	border-bottom: 2px solid;
}

nav ul li.overjohnthille{
	border-bottom: 2px solid;
}

nav ul li.diensten{
	border-bottom: 2px solid;
}

nav ul li:hover{
	background: #F2F2F2;
	border-bottom: 2px solid;
	height: 50%;
}

/* Home */
.foto{
    width: 1015px;
    margin: auto;
}
div.foto img{
    position: absolute;
    border: 15px solid white;
    border-radius: 20px;
    display: block;
    margin: auto;
}

.tekstfoto h1{
    text-align: center;
}

.tekstfoto p{
    font-family: avenir;
    padding-left: 15px;
    padding-right: 15px;
}
.tekstfoto{
    font-family: sans-serif;
    position: relative;
    float: right;
    text-align: center;
    width: 50%;
    margin-top: 15px;
    height: 500px;
    background-color: #212121;
    text-align: justify;
    opacity: 0;
    color: white;
    border-radius: 0px 5px 5px 0;
}

div.foto img:hover + div.tekstfoto {
    display: block;
    opacity: 0.8;
}

div.tekstfoto:hover{
    display: block;
    opacity: 0.8;
}

div.vlak{
    background: #212121;
    padding-bottom: 500px;
    margin-top: 250px;
}

.kaart1 a:hover {
    padding: 5px;
    color: slategrey;
    font-style: italic;
}
.kaart1 a{
    font-style: italic;
    font-weight: bold;
}

div.knop{
    font-family: reitam regular;
    background: white;
    text-align: center;
    padding: 10px;
    margin: 50px 150px 50px 150px;
    border-radius: 25px;
}

/* Diensten */

.overzichtdiensten{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    position: relative;
}
.overzichtdiensten img{
    width: 100%;
}

div.kaart{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background: white;
    width: 320px;
    height: 330px;
    border-radius: 5px;
}

.vlak2{
    background: #212121;
    padding-bottom: 330px;
    margin-top: -170px; 
    margin-bottom: 0;
}

a.link{
    background: white;
    opacity: 1;
    font-family: sans-serif;
    color: black;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
}

a.link:hover{
    color: white;
    background: #212121;
}
.kaart h1{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 25px
}

.vlak3{
    background: #212121;
}

.wit{
    width: 100%;
    background: white;
    float: left;
    font-size: 20px;
}

.wit p{
    font-family: avenir;
}

.zwart{
    width: 100%;
    font-size: 20px;
    float: left;
    background: #212121;
}

.zwart p{
    font-family: avenir;
}

.kaart1{
    width: 48%;
    background: white;
    color: black;
    height: auto;
    padding: 1%;
    text-align: left;
    float: left;
    min-width: 600px;
}

img.foto{
    float: left;
    width: 50%;
}

.kaart2{
    width: 48%;
    background: #212121;
    color: white;
    height: auto;
    padding: 1%;
    text-align: right;
    float: right;
    min-width: 600px;
}

.vlak3 h1, .vlak3 p{
    padding: 15px;
}

/* Gallerij pagina */

@keyframes slider{
    
    0% {
        left: 0%;
    }
    
    10% {
        left: -100%;
    }

    20% {
        left: -200%;
    }
    
    30% {
        left: -300%;
    }
    
    40% {
        left: -400%;
    }
    
    50% {
        left: -400%;
    }
    
    60% {
        left: 0%;
    }
    
}

#slider{
    overflow: hidden;
    margin: 0;
}

#slider figure div{
    width: 20%;
    margin: 0;
    float: left;
    animation: 10s slider infinte;
}

#slider figure img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 50s slider infinite
}

.vlakgallerij{
    height: 1000px;
    margin-top: -245px;
    background: #212121;
}

/* Contact pagina */

.container2{
    background: #212121;
    float: left;
    width: 100%;
}

.container3{
    width: 48%;
    margin: 0 auto;
}
.vlakcontact{
    color: white;
    padding-bottom: 100px;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 25px;
    float: left;
}

select, textarea, input{
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 500px;
}

select{
    width: 505px;
}

input{
    height: 30px;
}

textarea{
}

#knop2{
    font-family: reitam regular;
    font-size: 15px;
    background: white;
    color: black;
    text-align: center;
    padding: 0px;
    Width: 200px;
    height: 40px;
    margin-left: 140px;
    border-radius: 25px;
}

div.gegevens{
    background: #F2F2F2;
    color: black;
    float: left;
    margin: 48px 0 0px 0px;
    border-radius: 10px;
    padding: 0 30px 10px 30px;
    text-align: left;
}

#contact{
    margin: 20px 10px;
}

/* footer */
h3{
    clear: both;
    color: black;
    background: none;
    margin-right: 0px;
    text-align: center;
    padding-top: 15px;
    bottom: 0;
}

/* @media */

@media screen and (max-width:1265px){
   
    .wit{
        float: none;
        text-align: center;
        background: white;
        width: auto;
        padding-bottom: 2%;
    }
    
    .zwart{
        float: none;
        text-align: center;
        background: #212121;
        width: auto;
        padding-bottom: 40px;
    }
    
    div.kaart1, div.kaart2, img.foto{
        float: none;
        display: inline-block;
        text-align: center;
        padding: 0 1%;
    }
    
}

@media screen and (max-width:1100px){
    .foto {
        display: none;
    }
    
    .mobiel{
        width: 100%;
        margin: auto;
        background: grey url(afbeeldingen/keuken1.jpg) no-repeat center;
    }
    
    
    .tekstfotomobiel{
        background: #212121;
        opacity: 0.7;
        width: 100%;
        margin: auto;
        height: 491px;
    
    }
    
    .tekstfotomobiel h1{
        font-family: avenir;
        font-size: 29px;
        text-align: center;
        padding-top: 190px;
        color: white;
        opacity: 1;
        margin: -0px;
    }
    
    .tekstfotomobiel p{
        font-family: avenir;
        font-size: 25px;
        text-align: center;
        color: white;
        padding-bottom: 183px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20px;
        margin: 0;
    }
    
    .tekstfotomobiel a{
        font-size: 22px;
        font-weight: bold;
        color: black;
        background: white;
        padding: 8px 15px;;
        border-radius: 30px;
    }
    
    div.vlak{
        background: #212121;
        float: left;
        padding-bottom: 120px;
        padding-top: 50px;
        margin-top: 50px;
    }
    
    div.mobiel2{
        background: #f2f2f2;
        font-size: 25px;
        width: 45%;
        float: right;
        margin-right: 50px;
        height: 690px;
        color: black;
        text-align: center;
        border-radius: 10px;
    }
    
    div.mobiel2 p{
        font-family: avenir;
        font-size: 22px;
        padding: 0 30px 0 30px;
        text-align: center;
    }
    
    div.vlak img{
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        margin-top: -10px;
        filter: invert(100%);
    }
    
    div.mobiel2 img{
        width: 30%;
        display: block;
        margin: 0px auto;
        padding-top: 50px;
        padding-bottom: 15px;
        filter: invert(0%);
    }
    
    div.icons{
        background: #212121;
        height: 690px;
        width: 40%;
        float: left;
        margin-left: 50px;
        border-radius: 10px;
    }
    
    div.icons img{
        width: 35%;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
    
    div.icons p{
        text-align: center;
        
        font-size: 22px;
        margin-top: 10px;
        color: white;
    }
    
    .icons a{
        margin-left: 0px;
    }
    
    
}

@media screen and (min-width:1100px){
    div.mobiel, div.mobiel2, div.vlak img, div.vlak p {
        display: none;
    }
    
    .container3{
        width: 80%;
        margin-left: 4%;
    }
    
    .vlakcontact{
        margin-left: 4%;
    }
}

@media screen and (max-width:1426px){
    .vlak2{
        margin-top: -540px;
        padding-bottom: 600px;
    }
}


    
